<!-- home.component.html -->
<div class="container home-container mt-5">
  <h1 class="text-center mb-5">Welcome to Pharmacie&Medical_office App!</h1>

  <!-- Section 1: Pharmacies -->
  <div class="row mb-5">
    <div class="col-md-6">
      <img src="assets/images/pharmacy.jpeg" alt="Pharmacy" class="img-fluid">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div>
        <h2>About Our Pharmacies</h2>
        <p>
          Grâce à notre application, trouvez facilement les pharmacies
          les plus proches de vous partout en Mauritanie, et accédez
          rapidement aux médicaments et aux produits de santé nécessaires.
        </p>
      </div>
    </div>
  </div>

  <!-- Section 2: Medical Offices -->
  <div class="row mb-5">
    <div class="col-md-6">
      <img src="assets/images/medical_office.jpeg" alt="Medical Office" class="img-fluid">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div>
        <h2>About Our Medical Offices</h2>
        <p>
          Notre application vous offre la localisation des cabinets médicaux à travers
          la Mauritanie, pour un accès rapide aux soins et services médicaux essentiels.
        </p>
      </div>
    </div>
  </div>
</div>
